@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Introduccion para Bases de Datos</h1>
    <h2>Integrantes del equipo</h2>
</div>
<div>
    <a href="Registro">
  <button type="button">Registrarse</button>
</a>
</div>
<div>
    <a href="IniciarSesion">
  <button type="button">Iniciar Sesion</button>
</a>
</div>
<footer>
<h1>NO TE OLVIDES DE PONER EL WHERE NANANANANANA</h1> 
</footer>

