@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Registro</h1>
    <h2>Integrantes del equipo</h2>
</div>
<div>
<form>
Nombre de usuario o correo<input>type="text" name="nombre" placeholder="Ponnga su nombre de usuario o contraseña"/>
</form>
</div>
<footer>
<h1>NO TE OLVIDES DE PONER EL WHERE NANANANANANA</h1> 
</footer>